* {
  margin: 0;
  padding: 0;
}

body {
  min-height: 100vh;
  background-color: rgb(240, 223, 223);
}

nav ul {
  background-color: rgb(209, 208, 208);
  display: flex;
  align-items: center;
  justify-content: flex-end;
  list-style: none;
  height: 100%;
}

nav ul li {
  margin: 10px;
}

nav ul li:first-child {
  margin-right: auto;
}

nav ul li a {
  text-decoration: none;
  color: black;
  /* background-color: red; */
  /* width: 100%; */
  height: 100%;
  height: auto;
  display: block;
  padding: 10px;
  border-radius: 5px;
}

nav a:hover {
  transform: translateY(-3px);
  background-color: aliceblue;
}

.side-bar {
  width: 250px;
  height: 100vh;
  position: fixed;
  display: none;
  top: 0;
  right: 0;
  flex-direction: column;
  background-color: rgba(209, 208, 208, 0.363);
  padding: 10px;
  backdrop-filter: blur(5px);
  color: black;
  align-items: center;
  justify-content: flex-start;
}

.side-bar li {
  width: 100%;
}
.side-bar a {
  width: 100%;
}

.menu-btn {
  display: none;
}

@media screen and (max-width: 800px) {
  .hide-on-mobile {
    display: none;
  }
  .menu-btn {
    display: block;
  }
}

@media screen and (max-width: 480px) {
  .side-bar {
    width: 100%;
  }
  .side-bar li {
    padding-left: 100px;
  }
  .hide-on-mobile {
    display: none;
  }
  .menu-btn {
    display: block;
  }
}
