
@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  min-height: 100vh;
  background-color: rgb(19, 19, 19);
  font-family: "Poppins", sans-serif;
}

.main {
}

nav {
  width: 100%;
  display: flex;
  justify-content: space-between;
  padding: 10px;
  align-items: center;
}

nav ul {
  width: 100%;
  display: flex;
  list-style: none;
  padding: 0;
  margin: 0;
}

nav li {
  margin: 10px;
}

nav li a {
  text-decoration: none;
  color: gray;
}

nav li a:hover {
  color: white;
}

.left-side li {
  color: gray;
}

.left-side li a img {
  width: 30px;
  height: 30px;
  display: flex;
  align-items: center;
  position: relative;
  bottom: 5px;
}

.right-side {
  display: flex;
  justify-content: flex-end;
}

.main .search-bar {
  width: 100%;

  list-style: none;
  text-decoration: none;
  height: 100%;
  display: flex;
  justify-content: center;
  position: relative;
}

.main .search-bar i {
  position: absolute;
  left: 22px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: gray;
}

.main .search-bar input {
  width: 100%;
  height: 40px;
  width: 600px;
  padding-left: 42px;
  border: 2px solid #212121;
  outline: none;
  border-radius: 20px;
  background-color: #131313;
  color: grey;
}

.main .search-bar .search-i {
  display: flex;
  align-items: center;
}

.right-side li {
  color: gray;
}
.right-side li  {
  display: flex;
  align-items: center;
}

.right-side li .btn-1 {
  color: #fc72ff;
  background-color: #311c31;
  padding: 10px;
  border-radius: 20px;
  cursor: pointer;
  border: none;
  font-size: 17px;
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

.right-side li .btn-1:hover {
  background-color: #351e35;
}

.main .content {
  height: 100vh;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.main .uniswap-widget {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 600px;
  height: auto;
  position: relative;
  top: -70px;
  flex-direction: column;
  padding: 20px;
}

.content .uniswap-widget .header {
  display: flex;
  justify-content: space-between;
  padding-bottom: 10px;
  width: 100%;
}

.content .uniswap-widget .header a {
  color: gray;
  transition: 0.3s ease-in;
  text-decoration: none;
  margin: 0 5px;
  font-size: 17px;
}

.content .uniswap-widget .header .left a:hover {
  color: white;
  background-color: gray;
  padding: 5px 10px;
  border-radius: 40px;
  border: 2px solid gray;
}

.main .body {
  width: 100%;
  margin-bottom: 20px;
  position: relative;
}

.content .body input {
  display: flex;
  width: 100%;
  border-radius: 16px;
  height: 40px;
  background-color: rgb(27, 27, 27);
  outline: none;
  border: 2px solid #212121;
  margin-top: 5px;
  padding: 60px 200px 60px 16px;
  font-size: 40px;
  color: white;
}

.content .body input:hover {
  border: 0.2px solid grey;
}

.footer {
  width: 100%;
  background-color: #131313;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  bottom: 12px;
}

.footer .connect-btn {
  width: 100%;
  color: #fc72ff;
  background-color: #311c31;
  width: 100%;
  padding: 20px 0px;
  border-radius: 16px;
  font-size: 20px;
  font-weight: 700;
  cursor: pointer;
}
.footer .connect-btn:hover {
  background-color: #382138;
}

.token-select {
  align-items: center;
  background-color: rgb(252, 114, 255);
  color: rgb(255, 255, 255);
  cursor: pointer;
  border-radius: 18px;
  outline: none;
  border: 1px solid rgb(252, 114, 255);
  font-size: 24px;
  font-weight: 485;
  padding: 6px 6px 6px 8px;
  position: absolute;
  right: 0;
  top: 19%;
  right: 12px;
  /* gap: 8px; */
}

.token-select2 {
  align-items: center;
  background-color: #131313;
  color: rgb(255, 255, 255);
  cursor: pointer;
  border-radius: 18px;
  outline: none;
  border: 1px solid #242424;
  font-size: 24px;
  font-weight: 485;
  padding: 6px 0px 6px 12px;
  text-align: center;
  position: absolute;
  right: 0;
  top: 180px;
  right: 12px;
}

.token-select2-container i {
  color: white;
  background-color: #607ce8;
  padding: 5px 8px;
  border-radius: 50%;
  position: absolute;
  right: 100px;
  top: 190px;
  z-index: 1;
}









